.container {
    display: flex;
}

.sidenav {
    display: block;
    max-width: 100px;
    min-height: 1000px;
    background-color: black;
    align-content: center;
}

.side-btn {
    border: none;
    color: white;
    padding: 15px 32px 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    font-size: 18px;
    min-width: 27px;
}

.content {
    font-size: 24px;
    margin: 30px;
}
